:root {
  --primary-color: #0dcaf0;
  --second-color: #212529;
}

input[type="email"]:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="checkbox"]:focus {
  box-shadow: none;
  border-color: var(--primary-color);
}

.form-signin,
.form-container {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-container input {
  margin-bottom: 10px;
}

.nav-link {
  color: #616d77;
  transition: none;
}

.nav-link:hover {
  color: rgb(218, 218, 218);
}

.nav .nav-item .active {
  background: none;
  color: var(--primary-color);
}

.outlet-container {
  background-color: #0000001a;
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow:
    inset 0 0.5em 1.5em #0000001a,
    inset 0 0.125em 0.5em #00000026;
}

.danger {
  background-color: rgb(255, 189, 189);
  color: rgb(139, 0, 0);
}

.success {
  background-color: rgb(202, 255, 189);
  color: rgb(17, 100, 0);
}