:root {
  --primary-color: #0dcaf0;
  --second-color: #212529;
}

input[type="email"]:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="checkbox"]:focus {
  box-shadow: none;
  border-color: var(--primary-color);
}

.form-signin,
.form-container {
  max-width: 330px;
  padding: 1rem;
}

.form-production {
  max-width: 550px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-container input, .form-production input {
  margin-bottom: 10px;
}

.navbar-brand {
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset 1px 0 0 rgba(0, 0, 0, .25);
}

@media (min-width: 768px) {
  .sidebar .offcanvas-lg {
    position: -webkit-sticky;
    position: sticky;
    top: 48px;
  }
}

.nav-link {
  color: #616d77;
  transition: none;
}

.nav-link:hover {
  color: rgb(218, 218, 218);
}

.nav .nav-item .active {
  background: none;
  color: var(--primary-color);
}

.danger {
  background-color: rgb(255, 189, 189);
  color: rgb(139, 0, 0);
}

.success {
  background-color: rgb(202, 255, 189);
  color: rgb(17, 100, 0);
}

.logged-user{
  font-size: 9pt;
  color: yellow;
}

.justify{
  text-align: justify;
}

.card-alert:hover{
  cursor: pointer;
  border: 1px solid var(--primary-color);
}

.table-container {
  max-height: 20em;
  overflow-y: auto;
}