:root {
  --primary-color: #0dcaf0;
}

input[type="email"]:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="checkbox"]:focus
{
box-shadow: none;
border-color: var(--primary-color);
}

.form-signin, .form-recovery, .form-register {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-register input {
  margin-bottom: 10px;
}